.banner-search {
  padding-top: 5%;
  padding-left: 30%;
  border-radius: 10px;

  padding-right: 30%;
  width: 100%;
}
.banner-input {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}
.banner-input input {
  padding: 10px;
  border: 2px solid rgb(80, 164, 185);
}
.banner-input i {
  position: absolute;
  font-size: 30px;
  right: 1%;
}
/* button */
.search-button {
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: end;
  gap: 10px;
}
.buttons {
  --color: #0077ff;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  margin: 10px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

.buttons::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.buttons:hover {
  color: white;
}

.buttons:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.buttons:hover::before {
  top: -30px;
  left: -30px;
}
