
.navbar {
  position: fixed;
 display: flex;
 justify-content: space-between;
 z-index: 1000;

}
.navbar h4:hover{
  text-shadow: 2px 2px 30px red;
 font-style: italic;
}
.navbar .bi-search {
  border: 1px solid #c54141;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius:15px;
  color: aliceblue;
}
.navbar .bi-search:hover{
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  text-shadow: 2px 2px 30px red;
}
.dark{
  background-color: black;
  border-bottom: 3px solid rgb(248, 246, 242);
}
/*  */
.menu-bar {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: white;
  
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
 }
 
 .menu-bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(202, 134, 56);
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
  border-radius: 10px;
 }
 
 .menu-bar:hover::before {
  transform: translateX(0);
 }